<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.redis.chat.dao.ChatDAO">
	<select id="selectChatRoomList">
	/*전체 채팅방 목록 조회*/
	SELECT   ROOM_ID	/*채팅방 아이디*/
		   , ROOM_NAME	/*채팅방 명*/
		   , CASE WHEN ROOM_TYPE = 1
		          THEN '개인톡'
		          ELSE '단체'
				  END AS ROOM_TYPE_NM	/*채팅방 타입 구분명*/
		   , CONCAT("(",PRE_PARTI_NUM, "/",PARTI_NUM,")") PRE_PARTI_NUM	/*현재참여자*/
		   , PARTI_YN	/*참여가능여부*/
	FROM CHAT_ROOM	/*채팅방목록*/
	</select>
	
	<select id="makeRoomId" resultType="String">
		/*채팅방 개설 및 채팅방 사용자 추가에 사용하기 위해 사용하는 roomId*/
		SELECT CONCAT('C_',LPAD((SUBSTR(MAX(ROOM_ID),3)+1),5,0))
		FROM CHAT_ROOM 
		
	</select>
	
	<insert id="makeChatRoom">
	/*채팅방개설*/
	INSERT INTO CHAT_ROOM
	(
		ROOM_ID,	/*채팅방 아이디*/
	    ROOM_TYPE,	/*채팅방 타입구분 1: 개인톡 2: 단체톡*/
	    ROOM_NAME,	/*채팅방 명*/
	    PARTI_NUM,	/*채팅방 참여자 수*/
	    PRE_PARTI_NUM, 	/*현재 참여자 수*/
	    PARTI_YN	/*참여가능 여부*/
	)
	VALUES 
	(
		#{roomId},
		#{roomType},
		#{roomName},
	<if test='roomType == "1"'>
		2,	/*채팅방 타입구분이 1일때는 채팅방 참여자 수 는 두명*/
	</if>
	<if test='roomType == "2"'>
		#{partiNum},	/*채팅방 타입구분이 2일때는 입력받은 참여자 수 */
	</if>
		"1",	/* 첫 개설 시에는 1*/
		"Y"		/* 첫 개설 시에는 Y*/
	)
	</insert>
	
	<insert id="insertRommParti">
	/*채팅방 참여자 추가*/
	INSERT INTO ROOM_PARTI
	(
		ROOM_ID, /*채팅방 아이디*/
		USER_ID	 /*채팅방 참여자 아이디*/
	)
	VALUES 
	(
		#{roomId},
		#{userId}
	)
	</insert>
</mapper>