<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.redis.chat.dao.UserDAO">
	<insert id="joinService">
		INSERT INTO USER
		(
			USER_ID,
			USER_PW,
			USER_NM
			
		) 
		VALUES
		(
			#{userId},
			#{userPw},
			#{userNm}
		)
	</insert>
	
	<select id="loginService" resultType="String">
	SELECT USER_NM
	  FROM USER
	 WHERE USER_ID = #{userId}
	   AND USER_PW = #{userPw}
	</select>
</mapper>